/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /*we make font-size: 10px so 1 rem = 10px*/
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /*padding here not inherited all we do is padding entire body*/
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom,
   rgba(126,213,111,0.6), rgba(40,180,131,0.6)),
    url(../img/hero.jpg);
  /*two background image and linear-gradient*/
  background-size: cover;/*to make background image full view*/
  background-position: top;/*to fix the top view when the screen change*/
  position: relative;/*to make text-box and logo-box relative to header, it's a reference*/

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;/*need a reference*/
  /*with absolute psoitioning, an element can be
  placed anywhere on a page*/
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
  /*width automaticaly figured out from the browser*/
}

.text-box {
  position: absolute;/*need a reference*/
  top: 40%;
  left: 50%;
  /*top and left in relation to the parent*/
  transform: translate(-50%,-50%);
  /*transform in relation to the element itself*/
  /*to translate the origin point of x-y axis of the box*/
  text-align: center;
  /*background-color: red;*/
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;/*to fix shaky animation*/
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;/*gives line breaks before and after it*/
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;/*start fast then slow*/
  /*
   animation-delay: 3s;
   animation-iteration-count: 3;
  */
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: moveInRight 1.5s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
  
    80% {
      transform: translateX(-1.5rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateX(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .btn:link,
  .btn:visited {/*to make the sytles the same even after visited*/
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;/*to give some paddings or some height to element not line break*/
    border-radius: 10rem;
    transition: all .2s;
    position: relative;/*reference*/
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  }

  .btn-white {
    background-color: #fff;
    color: #777;
  }

  .btn::after {
    content: "";/*necessary to put in pesudo element*/
    display: inline-block;
    height: 100%;
    width: 100%;
    /*we make height and width 100% because pesudo element consider child of btn*/
    border-radius: 10rem;
    position: absolute;/*need to have reference*/
    top: 0;
    left: 0;
    z-index: -1;/*defines the position of the elements if they are one on top of another*/
    transition: all .4s;
  }

  .btn-white::after {
    /*background-color:red;*/
    background-color: #fff;
  }

  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    /*to increase the size of element*/
    /*we put transition in initial state btn::after not here*/
    opacity: 0;
  }

  .btn-animated {
    animation: moveInBottom .5s ease-out .4s;/*last seconds is delay*/
    animation-fill-mode: backwards;/*be in 0% moveInBottom before it started*/
  }