.header {
    height: 85vh;
    background-image: linear-gradient(to right bottom,
     rgba($color-primary-light,0.6),
     rgba($color-primary-dark,0.6)),
      url(../img/hero-small.jpg);
    /*two background image and linear-gradient*/
    background-size: cover;/*to make background image full view*/
    background-position: top;/*to fix the top view when the screen change*/
    position: relative;/*to make text-box and logo-box relative to header, it's a reference*/
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      /*x-y on each corner*/
      height: 95vh;
    }

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            (min-width: 125em){
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.6),
        rbga($color-primary-dark, 0.6)),
        url(../img/hero.jpg);
    }

    @include respond(phone){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);/*x-y on each corner*/
    }
  
    &__logo-box{
      position: absolute;/*need a reference*/
      /*with absolute psoitioning, an element can be
      placed anywhere on a page*/
      top: 4rem;
      left: 4rem;
    }
  
    &__logo {
      height: 3.5rem;
      /*width automaticaly figured out from the browser*/
    }
    
    &__text-box {
      position: absolute;/*need a reference*/
      top: 40%;
      left: 50%;
      /*top and left in relation to the parent*/
      transform: translate(-50%,-50%);
      /*transform in relation to the element itself*/
      /*to translate the origin point of x-y axis of the box*/
      text-align: center;
      /*background-color: red;*/
    }
  }